[user]
	name = hash
	email = hash@users.noreply.github.com
[alias]
	co = checkout
	br = branch
	ci = commit
	ca = commit --amend --no-edit
	st = status
	ap = add -p
	ai = add -i
	df = diff
	rh = reset --hard
	fp = fetch --prune
	fa = fetch --all
	us = reset HEAD --
	lg = log -p
	lo = log --oneline
	ss = show --stat
	pb = log --oneline --graph --all
	ig = ls-files --others --ignored --exclude-standard
	rmtm = !git branch --merged master | grep -v master | xargs -n 1 git branch -d
	rmtd = !git branch --merged develop | grep -v develop | xargs -n 1 git branch -d
	rmts = !git branch --merged staging | grep -v staging | xargs -n 1 git branch -d
	gbo = !git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | numfmt --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
	gca = gc --aggressive --prune=all
	last = log --no-merges -1 HEAD
	ignore = update-index --assume-unchanged 
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	force-lf = !git config core.eol lf && git config core.autocrlf input && git rm -rf --cached . && git reset --hard HEAD
[alias] # tests
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	intend = add . --intent-to-add
	wsfix = "!git diff HEAD >P.diff && git reset --hard HEAD && git apply --index --whitespace=fix P.diff && rm -f P.diff"
	wsadd = "!sh -c 'git diff -- \"$@\" | git apply --cached --whitespace=fix; git checkout -- ${1-.} \"$@\"' -"
